@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
* {
	box-sizing: border-box;
}
html {
  font-size: -moz-calc(4px + 0.45vw);
  font-size: -webkit-calc(4px + 0.45vw);
	font-size: calc(4px + 0.45vw);
}
body {
	/*font-family: 'Montserrat', sans-serif;*/
	font-feature-settings: "kern", "liga", "pnum";
-webkit-font-smoothing: antialiased;
color: #555f77;
font-family: "Lato";
font-weight: 400;
font-style: normal;
font-size: 14px;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}
.card{
	border: 0px solid #ccc;
}
/* Primary Style
--------------------------------*/
.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}
/** Header style */
@media screen and (min-width: 64em){
  .header {
      position: fixed;
      z-index: 1000;
  }
}
.header {
    box-shadow: 0 4px 4px -4px #9B9B9B;
    height: 60px;
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;
    top: 0;
}
.header a {
    font-size: 1rem;
    color: #006fb9;
    text-decoration: none;
    cursor: pointer;
}

header h1 {
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
  width: 30rem;
  margin-top: 0;
  color: #da594c;;
  margin-left: -1.8em;
  height: 60px !important;
}
header ul::after {
	content: '';
	display: inline;
	clear: both;
}
header ul{
  display: inline;;
  list-style: none;
  padding: 0;
  height: 60px !important;
}
header ul.comp {
  width: 60%;
}
header ul.float-right{
  width: 40%;
}
header li {
	text-align: center;
	text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  height: 60px !important;
}
header ul.comp li:nth-child(1) {
	width: 25%;
}
header li a {
	font-weight: 900;
	font-size: 1.2rem;
	letter-spacing: 2px;
}
.float-right{
  float: right;
}
.menu {
    margin: 0;
    list-style-type: none;
}
.text {
	font-size: 2rem;
	padding: 2rem 0;
	-moz-columns: 2;
	-webkit-columns: 2;
	columns: 2;
}
.text p {
	margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
	header ul li:not(:nth-child(1)) {
		display: none;
	}
	header ul.comp li:nth-child(1) {
		width: 100%;
	}
}
/* Slider Style
--------------------------------------*/
.cd-slider {
	position: relative;
	width: 100%;
	height: 50rem;
	overflow: hidden;
	margin-bottom: 8rem;
}
.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
  will-change: clip;
}
.content {
    position: absolute;
    top: 78%;
    left: 0%;
    width: 70%;
    bottom: 0;
    padding: 2rem 0 0 2rem;
    font-size: 2rem;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	transform: translateY(-30%);
	opacity: 0;
	transition: transform .5s, opacity .5s;
  will-change: transform, opacity;
}
.content p {
	display: inline-block;
	font-size: 2rem;
	text-transform: lowercase;
	padding: 2rem;
	opacity: 1;
	transform: translateY(-100%);
	transition: transform 1.5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
}
/* Current Slide
-------------------------------------*/
li.current {
	visibility: visible;
	transition-delay: .5s;
}
li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}
li.current .content h2 {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 2s;
}
li.current .content p {
	transform: translateY(-50%);
	opacity: 1;
	transition-delay: 3s;
}
/* Prev Slide
------------------------------------*/
li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
}
nav {
	position: absolute;
	bottom: 0;
	right: 30%;
	background: transparent;
  color: #ccc;
	z-index: 10;
}
.prev, .next, .counter {
	vertical-align: middle;
}
.prev, .next {
	position: relative;
	display: inline-block;
	height: 5rem;
	width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.prev::before, .next::before {
	content: '';
	position: absolute;
	top: 50%;
  left: 0;
	transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #ccc;
	border-left-width: 0;
	width: 0;
	height: 0;
}
.prev::after, .next::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #ccc;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	transition: width .3s;
}
.next::before {
	right: 0;
  left: auto;
	border-left-width: 1rem;
	border-left-color: #ccc;
	border-right-width: 0;
}
.next::after {
	right: .5rem;
	left: auto;
}
.counter {
	display: inline-block;
	font-size: 3rem;
	font-family: serif;
	font-style: normal;
}
.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}
.prev:hover::after, .next:hover::after {
	width: 3.5rem;
}
@media screen and ( max-width: 550px ) {
	.image { width: 100%; }
	.content { padding-right: 2rem; }
	nav { left: 0; right: auto; }
}
#contact{

}
#contact h1{
    font-family: "MenschRegular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: #da594c;
    line-height: 50px;
    margin-bottom: 0px;
		text-align: center;

}
#contact p {
    line-height: 25px;
    font-size: 18px;
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}
#map {
			 height: 100%;
		 }
#about .head, h2{
	text-align: center;
	font-weight: 300;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 36px;
  line-height: 1.25;
}
#about .summary{
	text-align: center;
	font-size: 18px;
	margin-bottom: 3rem;
}


.phone p, address{
	margin-left: 3%;
	font-size: 16px;
	margin-bottom: 1.5rem;
}
